  .item{
    border: 5px solid rgb(145, 143, 143);
    max-width: 800px;
    padding: 10px;
    background:none;
  }

.buttons-container {
    display: flex;
    justify-content:space-evenly ;
    margin-top: 10px;
  }